# System Files
.DS_Store

# Build
node_modules/
build/
dist/
tsbuildinfo.json
*.d.ts

# Configurations
.env

# Local Data
local-database/*
!local-database/.gitkeep
local-scripts/*
!local-scripts/.gitkeep

# Editor
.vscode/

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.js
