# System Files
.DS_Store

# Build
node_modules/
build/
dist/
*.js
tsbuildinfo.json
*.d.ts

# Configurations
src/data/github-token.ts

## Local Database
local-database/*
!local-database/.gitkeep

# Editor
.vscode/
