# System Files
.DS_Store

# Build
node_modules/
build/
dist/
tsbuildinfo.json
*.d.ts

# Configurations
src/data/github-token.ts

## Local Data
local-database/*
!local-database/.gitkeep
local-scripts/*
!local-scripts/.gitkeep

# Editor
.vscode/

# Yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
.pnp.js
